#react-entry-point{
   height: 100%;
}

#id_container_elements{
   height: 100%;
}

#id_wrapper{
    height : 100%;
    display: flex;
    flex-flow: column;
    overflow: auto
}

#id_header {
    flex:0
}

#id_main_content{
    flex:1;
    overflow: scroll;

}

/* #id_main_content_preprocessing{
    height: 50%;
} */

.label-panel{
    display: inline-block;
    box-sizing: border-box;
}


/* #id_main_content_visualization{
    height: 50%;
} */

#id_footer{
    flex:0;
    position: fixed;
    bottom: 0pt;
    width: 100%;
    border-top: 1px solid #019682;
    background-color: #F0F0F0;
}

.subheader{
    height: 50px;
    width:100%
}

.left-box{
    width: 50%;
    height: 100%;
    float:left;
    padding:20px;
    box-sizing: border-box;
}

.right-box{
    height: 100%;
    padding:20px;
    overflow: hidden;
    box-sizing: border-box;
}

.padding-10px{
    padding:10px;
}

.border-around-box{
    border: 2px solid;
    border-radius: 25px;
    border-color: #019682;
    padding: 20px;
    box-sizing:border-box;
    height:100%;
    overflow: hidden;
}

.visualization-graph{
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

#graph{
    width: 80%;
    height: 80%;
}

.title{
    text-align: center;
}

.plot-area{
    /* display: flex; */
    /* overflow-x: auto; */
    /* overflow-y: auto; */
    width: 800px;
    height: 300px;
}

.border{
    border: 1px solid red;
    height: 50%;
}

#id-sample{
    height: auto;
}

#id-progress-bar{
    height: 30px;
    font-size:small;
}

.border2{
    border: 1px solid red;
    height: auto;
    width: 30%;
}

.border3{
    border: 1px solid red;
    height: auto;
    width: 100%;
}


.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.wrapper>div {
    flex: 1;
}

.sample{
    height: 100%;
    padding:20px;
    box-sizing: border-box;
}

#container-preprocessed-data-definition{
    width: 70%;
    float: left;
}

#id-checklist-features{
    width: 30%;
    float: right;
}

.space-between-icon-and-label{
    display:inline-block;
    width:3px;
}
