#left-panel{
    width: 33%;
    box-sizing: border-box;
    height: 100%;
    float: left;
    border: solid;
    border-width: thin;
    border-color: #D3D3D3;
    border-radius: 5px;
    padding: 1%
}

#parent {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  height: 100%;
  /*border: 1px solid black;*/
}

/*  not necessary, just to visualize it */


#parent div {
  border: 1px solid red;
}

#container-around-loading-component{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 100%;
    transform: translateX(-50%);
    clear: both;
    /*border: solid;*/
    /*border-color: red;*/
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

#container-around-loading-component-2{
    padding: 13px;

}

.btn-layout{
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    background-color: #019682;
    border: 2px #019682;
    color: white;
}

.btn-layout:hover {
  background-color: #019682;
}

.btn-layout:disabled{
  opacity:0.6;
  color:#080808;
}

.btn-layout:disabled:hover{
  cursor:default;
}

.exit-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-color: #f44336;
    color: red;
}

#left-box-main{
    width: 64%;
    box-sizing: border-box;
    height: 100%;
    float: left;
    padding: 1%;
    position: relative;
}

#add-feature{
    display: block;
    margin-top: 5px;
    float: right;
}

#container-preprocessed-data-definition{
    border: solid;
    border-width: thin;
    border-color: #D3D3D3;
    border-radius: 5px;
    width: 67%;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#container-summary-btn{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 5px;
}

#textarea-summary{
    width: 67%;
    box-sizing: border-box;
    float: left;
    padding: 1%;
}

.preprocessing-dropdown{
    padding-top: 5px;
    padding-bottom: 5px;
}

.boxContainer {
    display: table;
    /*border: solid;*/
    /*border-color: red;*/
}
.box {
    width:200px;
    background:#0088cc;
    padding:2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
    margin: auto;
}

.preprocessing-progress-bar{
    width: 100%;
    /*height: 30px;*/
    margin-left: 20px;
    margin-right: 20px;
}

.rounded-corners{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
}

#collapse-button{
    padding:10px;
}
